

.cardGroup {
    padding: 20px;
}

.cardList {
    margin: 10px;
}

.cardGrade {
    margin-left: 5px;
}

.climing-list {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.climing-list .clim-open {
    width: 50%;
}

.climing-list .clim-closest {
    width: 50%;
    margin-left: 50px;
}

.climing-list .clim-img{
    height: 200px;
}
.clim-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.clim-bottom .clim-commu,
.clim-bottom .clim-info {
    width: 48%;
}

.clim-bottom .clim-comuDt {
    margin-left: auto;
    color: #6c757d;
}

.clim-bottom .clim-info img{
    width: 520px;
    height: 330px;
}

.search-filter {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px #dee2e6;
    padding: 20px;
}

.search-filter .btn-option {
    border-radius: 10px;
    background-color: white;
    border: solid 1px #a5a9ad;
    padding: 4px 20px 4px 4px;
    position: relative;
}

.search-filter .btn-option::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/img/delete.svg');
    background-size: cover;
    position: absolute;
    right: 5px;
    top: 50%; 
    transform: translateY(-50%);
}

ul.search-list {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hom-filter-option {
    display: flex;
    padding: 10px;
    position: relative;
}

.hom-filter-option span {
    margin-left: 10px;
    margin-right: 60px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.option-map, .option-loc  {
    cursor: pointer;
}

.hom-filter-option .option-map::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/img/map.svg');
    background-size: cover;
    position: absolute;
    left: -20px;
    top: 50%; 
    transform: translateY(-50%);
}

.hom-filter-option .option-loc::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/img/geo-alt.svg');
    background-size: cover;
    position: absolute;
    left: -20px;
    top: 50%; 
    transform: translateY(-50%);
}

.hom-filter-option .option-map {
    margin-right: 0; /* option-map의 오른쪽 여백 제거 */
}

.search-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.search-actions select {
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.search-actions button {
    padding: 10px 20px;
    background-color: #5200DF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.search-actions button:hover {
    background-color: #a070f4;
}

.divider {
    border: none;
    border-top: 1px solid #6c757d; /* hr의 색상과 두께 조정 */
    margin: 10px 0; /* 위아래 여백 조정 */
    width: 100%; /* 전체 너비 차지 */
}

.hom-open, .hom-event {
    display: inline-block; /* 인라인 블록으로 설정 */
    vertical-align: middle; /* 수직 중앙 정렬 */
    padding: 5px 10px; /* 여백 조정 */
    font-size: 15px; /* 글씨 크기 */
    font-weight: bold; /* 굵은 글씨 */
    border-radius: 12px; /* 둥근 모서리 */
    text-align: center; /* 텍스트 가운데 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 효과 */
    margin-right: 5px; /* 요소 간의 간격 조정 */
}

.hom-open {
    background: #8a3ffc; /* 더 밝고 현대적인 보라색 */
    color: #ffffff; /* 흰색 텍스트 */
    border: 2px solid #6f00d2; /* 더 어두운 보라색 테두리 */
}

.hom-event {
    background: #64b5f6; /* 부드러운 파스텔 블루 */
    color: #ffffff; /* 흰색 텍스트 */
    border: 2px solid #42a5f5; /* 더 어두운 파스텔 블루 테두리 */
    text-transform: uppercase; /* 대문자로 변환 */
}

.cardText {
    display: flex;
    align-items: center;
}

.recentImg {
    width: auto;
    height: 300px;
}

.cardImg {
    height: 500px;
    width: auto;
}

.cardTitle {
    margin-left: 40px;
}

.hom-list {
    max-height: calc(6 * 50px); /* 최대 6개의 항목 높이만큼만 표시 */
    overflow-y: auto; /* 수직 스크롤 생성을 허용 */
}