.agreement-area {
    margin-top: 50px;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    color: white;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #5200DF;
    color: white;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #5200DF;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

.check-all {
    padding: 30px;
    height: 70px;
    display: flex;
    align-items: center;
}

.check-all strong {
    font-size: 20px;
}

.check-all .form-check {
    display: flex;
    align-items: center;
}

.check-all .form-check-input {
    margin-right: 10px;
}


.check-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.check-list .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.check-list .form-check-input {
    margin-right: 10px;
}

.signup-button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #5200DF;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;  /* 버튼의 텍스트를 가운데 정렬 */
    cursor: pointer;     /* 마우스 커서를 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변경에 부드러운 전환 추가 */
}

.signup-button:hover {
    background-color: #a070f4;
}
.sign-area {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sign-area input{
    padding: 10px;
    width: 30%;
    border: solid 1px #dee2e6;
    border-radius: 10px 10px 10px;
}

.sign-area .sign-inp {
    width: 100%;
    margin-top: 10px;
}

.name-input-group {
    display: flex;
    align-items: center;
}

.gender-radio-group {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.gender-radio-group label {
    margin-right: 15px;
}

.gender-radio-group input {
    margin-right: 5px;
}

.gender-radio-group {
    display: flex;
    align-items: center;
}

.gender-radio-group label {
    margin-right: 15px; /* 라디오 버튼과 레이블 사이의 간격 조절 */
    display: flex;
    align-items: center;
}

.gender-radio-group input {
    margin-right: 5px; /* 라디오 버튼과 레이블 사이의 간격 조절 */
    transform: scale(1.5); /* 라디오 버튼의 크기를 1.5배로 확대 */
}

.sign-complete {
    padding: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.login-divider {
    display: inline-block;
    width: 45%;
    margin: 4px 3px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

button.btn-outline-success {
    background-color: #1ec800;
    color: white;
}

button.btn-outline-warning {
    background-color: #ffeb00;
    color: black;
}

.btn_Login {
    background-color: #5200DF;
}