.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 28px;
    margin-bottom: 15px;
}

.profile-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-change-photo {
    background-color: #f0f0f0;
    color: #333;
}

.btn-edit-info {
    background-color: #5200DF;
    color: white;
}

.btn:hover {
    color: #3a00b8;
}

.myp-main {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
}

.myp-tab-item {
    padding: 15px 30px;
    /* 크기 조정 */
    font-size: 18px;
    /* 폰트 크기 조정 */
    cursor: pointer;
    position: relative;
    font-weight: normal;
    color: #666;
    border-bottom: 3px solid transparent;
    /* 기본 상태에서는 선이 없음 */
    transition: color 0.3s, border-bottom 0.3s;
    margin: 0 10px;
    /* 탭 항목 간의 간격 조정 */
    width: 50%;
    text-align: center;
}

.myp-tab-item.myp-active {
    font-weight: bold;
    color: #000;
    /* 활성화된 탭의 텍스트 색상 */
    border-bottom: 2px solid #000;
    /* 활성화된 탭의 밑줄 */
    width: 50%;
}

.myp-tab-content {
    padding: 20px;
    text-align: center;
}

.dropdown_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_header .item-count {
    color: #5200DF;
    font-weight: bold;
}

.dropdown_header .dropdown {
    margin-left: auto;
    border: none;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    /* 드롭다운 배경색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 드롭다운 그림자 */
    transition: border-color 0.3s;
}

.filter-select:hover {
    border-color: #5200DF;
    /* 호버 시 경계선 색상 */
}

.custom-select {
    appearance: none;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
}

.custom-select option {
    border: none;
    background: #fff;
    color: #000;
    padding: 5px;
}

.reservation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* 예약 항목들 사이의 간격 조정 */
}

.reservation-info {
    display: flex;
    align-items: stretch;
    /* 자식 요소의 높이를 동일하게 맞춤 */
    margin-bottom: 20px;
    /* 항목 사이의 간격 조정 */
}

.reservation-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.reservation-date {
    font-size: 18px;
    /* 글씨 크기 증가 */
    font-weight: bold;
    /* 글씨 두껍게 */
    color: #333;
    margin-bottom: 10px;
    /* 간격 조정 */
    text-align: left;
    /* 좌측 정렬 */
    width: 100%;
    /* 부모 컨테이너의 폭을 차지하도록 설정 */
}

.reservation-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.reservation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 내용들을 위아래로 배치, 간격 조정 */
    gap: 5px; /* 요소들 사이의 간격 조정 */
    margin-top: 32px;
}

.reservation-number {
    font-size: 16px;
    margin-bottom: 5px; /* 요소들 사이의 간격 조정 */
}

.reservation-number span {
    font-weight: bold;
    color: #5200DF;
}

.reservation-title a {
    text-decoration: none; /* 기본 링크 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상 상속 */
    font-size: 18px;
    margin-bottom: 5px; /* 요소들 사이의 간격 조정 */
}

.reservation-title a:hover {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 추가 */
    color: #5200DF; /* 원하는 링크 색상 */
}

.reservation-time {
    font-size: 16px;
    margin-bottom: 5px; /* 요소들 사이의 간격 조정 */
}

.btn-write-review {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #5200DF;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.3s;
    margin-top: 10px; /* 버튼 위에 간격 추가 */
}

.btn-write-review:hover {
    color: #3a00b8; /* 마우스를 올렸을 때 버튼 텍스트 색상 변경 */
}


.list-group {
    padding: 0;
    margin: 0;
    list-style: none;
    /* 기본 리스트 스타일 제거 */
}

/* 리스트 항목 스타일 */
.list-group-item {
    display: flex;
    justify-content: space-between;
    /* 좌우 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    padding: 10px 20px;
    /* 내부 여백 */
    border: 1px solid #ddd;
    /* 테두리 색상 */
    border-radius: 8px;
    /* 둥근 모서리 */
    background-color: #fff;
    /* 배경 색상 */
    margin-bottom: 10px;
    /* 항목 간 간격 */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* 호버 시 효과 */
}

/* 리스트 항목 호버 상태 */
.list-group-item:hover {
    background-color: #f4f4f4;
    /* 호버 시 배경 색상 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 호버 시 그림자 효과 */
}

/* 왼쪽 콘텐츠 스타일 */
.list-item-left {
    display: flex;
    align-items: center;
}

/* 오른쪽 콘텐츠 스타일 */
.list-item-right {
    display: flex;
    align-items: center;
}

/* 카테고리 이름 스타일 */
.list-item-category {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
    /* 제목과 간격 */
}

/* 글 제목 스타일 */
.list-item-title {
    font-size: 14px;
    color: #666;
}

/* 댓글 수, 작성자, 날짜 스타일 */
.list-item-comments,
.list-item-author,
.clim-comuDt {
    margin-left: 40px;
    /* 항목 사이의 간격 */
    font-size: 14px;
    color: #666;
}

.list-item-comments {
    background-image: url('../img/chat.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    /* 이미지와 텍스트 간격 조정 */
    background-size: 20px 20px;
    /* 이미지 크기 조정 */
    height: 20px;
    /* 필요시 높이 조정 */
    display: flex;
    align-items: center;
}

.list-item-recruiting {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    /* 제목과 간격 */
    color: #5200DF;
}

/* 모집완료 항목 스타일 */
.list-item-completed {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    /* 제목과 간격 */
    color: #666;
}

/* 참여 수 스타일 */
.list-item-partycomments {
    font-size: 14px;
    color: #666;
    /* '참여' 글씨 색상 */
}

.party-number {
    color: #5200DF;
    /* 숫자 색상 */
    font-weight: bold;
    margin-left: 5px;
    /* 숫자와 '참여' 사이의 간격 */
}

/* 경로 스타일 */
.com-path {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    /* 경로와 버튼 사이의 간격 */
}

.com-buttons {
    display: flex;
    gap: 10px;
    /* 버튼 사이의 간격 */
}


.com-head {
    display: flex;
    /* Flexbox를 사용하여 수평 정렬 */
    justify-content: space-between;
    /* 제목과 입력 필드 사이의 공간을 최대한 활용 */
    align-items: center;
    /* 세로 중앙 정렬 */
    padding: 10px;
    /* 상하 좌우 패딩 추가 */

    border-bottom: 2px solid #eee;
}

.reservation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.reservation-details {
    display: flex;
    flex-direction: column;
}

.reservation-date {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.reservation-number {
    font-size: 16px;
    color: #666;
}

.btn-cancel {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #5200DF;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #3a00b8;
}

.custom-reservation-info {
    margin-bottom: 20px;
}

.custom-reservation-date {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.custom-reservation-border {
    display: flex;
    align-items: flex-start; /* 사진과 텍스트를 위쪽으로 정렬 */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    gap: 20px; /* 사진과 텍스트 사이의 간격 조정 */
}

.custom-reservation-border2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    gap: 20px; /* 요소들 사이의 간격 조정 */
}

.custom-reservation-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.custom-reservation-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.custom-reservation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 32px;
}

.custom-reservation-number {
    font-size: 16px;
    margin-bottom: 5px;
}

.custom-reservation-number span {
    font-weight: bold;
    color: #5200DF;
}

.custom-reservation-title a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    margin-bottom: 5px;
}

.custom-reservation-time {
    font-size: 16px;
    margin-bottom: 5px;
}

.custom-user-info h3,
.custom-payment-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.custom-user-info div,
.custom-payment-info div {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.custom-user-info div span,
.custom-payment-info div span {
    /* font-size: 18px; */
    font-weight: bold;
    color: #333;
}

hr {
    border: none;
    border-top: 2px solid #ddd;
    margin: 10px 0;
}

/* 전체 폼 섹션 스타일 */
.form-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* 입력 필드 그룹 */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:disabled {
    background-color: #e9e9e9;
    cursor: not-allowed;
}

/* 비밀번호 재설정 섹션 */
.password-reset {
    margin-bottom: 20px;
}

.password-reset h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.auth-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #5200DF;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
}

.auth-button:hover {
    background-color: #3a00b8;
}

/* 비활성화 및 활성화 인풋 */
.status-inputs {
    margin-top: 20px;
}

.status-inputs .input-group {
    margin-bottom: 15px;
}

.input-row {
    display: flex;
    gap: 10px; /* 인풋 필드 사이의 간격 */
}

/* 입력 필드 그룹 스타일 */
.input-group.phone-inputs {
    margin-bottom: 20px;
}

/* 레이블 스타일 */
.input-group.phone-inputs label {
    display: block; /* 레이블을 블록으로 표시하여 입력 필드와 레이블 간의 간격을 조정 */
    margin-bottom: 8px; /* 레이블과 입력 필드 사이의 간격 */
    font-weight: bold; /* 레이블의 글씨 굵기 */
}

/* 입력 필드들을 가로로 정렬 */
.phone-inputs {
    display: flex; /* Flexbox를 사용하여 가로로 정렬 */
    gap: 10px; /* 입력 필드 사이의 간격 */
}

/* 개별 입력 필드 스타일 */
.phone-inputs .input-field {
    flex: 1; /* 인풋 필드가 동일한 크기로 확장되도록 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* 필드의 최소 너비를 설정 */
    min-width: 0;
}

.input-group-phone label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.input-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-name:disabled {
    background-color: #e9e9e9;
    cursor: not-allowed;
}

/* 성별 선택 그룹 스타일 */
.gender-group {
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    gap: 20px; /* 라디오 버튼 사이의 간격 조정 */
    margin-top: 10px; /* 상단 여백 추가 */
}

/* 라디오 버튼 레이블 스타일 */
.gender-group label {
    display: flex;
    align-items: center; /* 라디오 버튼과 텍스트를 세로로 중앙 정렬 */
    font-size: 16px; /* 폰트 크기 조정 */
}

/* 라디오 버튼 스타일 */
.gender-group input[type='radio'] {
    margin-right: 5px; /* 라디오 버튼과 텍스트 사이의 간격 조정 */
}